#Contact-us-page
{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0px;
    position: relative;
    background-color: white;
}

#Contact-us-page-content
{
    height: 100vh;
    width: 100%;
    background-color: white;
}

#Contact-us-page-header
{
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
}

#Contact-us-page-body
{
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.txt
{
    font-family: 'Kanit' , sans-serif;
}

#price-rate-block-pic-1
{
    background: url("../resource/contact-us-price-rate-1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#price-rate-block-pic-2
{
    background: url("../resource/contact-us-price-rate-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#price-rate-block-pic-3
{
    background: url("../resource/contact-us-price-rate-3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 700px)
{
    #Contact-us-header-txt
    {
        width: 100%;
        height: fit-content;
        padding: 6% 0;
        color: black;
    }

    #Contact-us-content
    {
        height: 100%;
        width: 100%;
        margin: 0 5.25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: auto;
    }

    #txt-1 , #txt-2
    {
        width: 100%;
        font-size: 2.75vw;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1.25%;
    }

    .Contact-us-form-and-price-rate
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #price-rate-area
    {
        width: 35%;
        aspect-ratio: 1 / 1.425;
        height: 100%;
        background-color: #d4d4d4;
        border-radius: 2vw;
        margin-right: 2%;
        padding: 1.25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .price-rate-block
    {
        width: 100%;
        height: 32%;
        border-radius: 1vw;
        padding: 3% 4%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .price-rate-block-pic
    {
        width: 43%;
        aspect-ratio: 1 / 1;
    }
    
    #price-rate-block-pic-2
    {
        order: 1;
    }

    #price-rate-block-content-2
    {
        width: 100%;
        float: right;
    }    

    .price-rate-block-content
    {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .packageName
    {
        font-family: 'Kanit' , sans-serif;
        width: 100%;
        text-align: center;
        font-size: 0.825vw;
        color: rgba(0, 0, 0, 0.626);
        font-weight: bold;
    }

    .packagePrice
    {
        font-family: 'Kanit' , sans-serif;
        width: 100%;
        text-align: center;
        font-size: 3.25vw;
        font-weight: bold;
        height: fit-content;
        margin: 0 0 1% 0;
        color: rgb(10, 129, 169);
    }

    .packagePricePerDay
    {
        font-family: 'Kanit' , sans-serif;
        width: 100%;
        text-align: center;
        font-size: 0.7vw;
        color: rgba(0, 0, 0, 0.814);
    }

    #Contact-us-form-area
    {
        font-family: 'Kanit' , sans-serif;
        width: 57%;
        aspect-ratio: 1 / 0.6;
        display: flex;
        justify-items: center;
        align-items: center;
        background-color: rgb(10, 129, 169);
        padding: 5% 2%;
        border-radius: 2vw;
        margin: 0;

        form
        {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
        }
    }

    .Contact-us-form-floating
    {
        margin: 2% auto 2.5% auto;
        width:  95%;
        padding: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .Contact-us-input-form
    {
        display: flex;
        width: 100%;
        
    }

    .Contact-us-input-form-half
    {
        display: flex;
        width: 49%;
    }

    .Contact-us-form-floating .material-icons
    {
        color: white;
        font-size:1.25vw !important; 
        padding: 2.5% 3.5%;
        min-width: 7%;
        justify-content: auto;
        text-align: center;
        border-top-left-radius: 1.5vw;
        border-bottom-left-radius: 1.5vw;
        background-color: rgb(33, 33, 33);
    }

    .Contact-us-input-form-half .material-icons
    {
        color: white;
        font-size:1.25vw !important; 
        padding: 5% 7.5%;
        min-width: 7%;
        justify-content: auto;
        text-align: center;
        border-top-left-radius: 2vw;
        border-bottom-left-radius: 2vw;
        background-color: rgb(33, 33, 33);
    }

    #Contact-us-owner-name-icon 
    {
        padding: 2.5% 4.15% 2.5% 4%;
    }

    .Contact-us-form-input-space
    {
        font-size: 0.8vw;
        width: 100%;
        border-top-right-radius: 1.5vw;
        border-bottom-right-radius: 1.5vw;
        background-color: #E7E7E7;
        outline: none;
        border-width: 0.5px 0.5px 0.5px 0px;
        border-color: rgba(0, 0, 0, 0.384);
        padding: 1.5% 1.5% 1.5% 2.5%;

        &:focus
        {
            outline: none;
            background-color: #d5d5d5;
            border-width: 0.3px 0.3px 0.3px 0px;
            border-color: rgb(10, 129, 169);
        }
    }

    .Contact-us-input-form-half .Contact-us-form-input-space
    {
        padding: 1.5% 3% 1.5% 5%;
    }

    .Contact-us-input-form-half
    {
        select 
        {
            font-size: 0.75vw;
            background-color: #E7E7E7;
            color: #8D8786;
            -webkit-appearance: none;
            appearance: none;

            &:focus
            {
                outline: none;
                background-color: #d5d5d5;
                border-width: 0.3px 0.3px 0.3px 0px;
                border-color: rgb(10, 129, 169);
            }

            option 
            {
                font-family: 'Kanit' , sans-serif;
                font-size: 0.8vw;
                color: black;
            }

            
        }
    }

    #Contact-us-disable-option
    {
        display: none;
    }        

    #Contact-us-input-form-name
    {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 79%;
    }

    input[type="date"][value=""]:before 
    {
        content: attr(placeholder) !important;
    } 

      
    #Contact-us-span-zone
    {
        width: 95%;
        margin-top: 8%;
        display: flex;
        padding: 0;
        align-self: center;
        align-items: center;
    }

    #Contact-us-notice-txt , #tel-at-contact-us
    {
        width: 50%;
        color: white;
        font-size: 0.75vw;
        line-height: 200%;
        text-decoration: none;
    }

    #Contact-us-notice-txt a 
    {
        margin-left: 3%;
    }

    #Contact-us-pressed-button
    {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    #Contact-us-submit
    {
        float: right;
        background-color: rgb(0, 0, 0);
        color: white;
        font-family: 'Kanit' , sans-serif;
        font-size: 0.85vw;
        height: fit-content;
        padding: 3.25% 7%;
        border-radius: 0.6vw;
        border-width: 0;

        &:hover
        {
            font-weight: bold;
            color: black;
            background-color: rgb(255, 249, 249);
            cursor: pointer;
        }
    }

    #Contact-us-footer
    {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Kanit' , sans-serif;
        font-size: 0.8vw;
        line-height: 170%;
        padding: 1.5% 0;
        color: #8D8786;
        background-color: white;
        margin-top: 5%;

        span 
        {
            height: fit-content;
            
        }
    }
}

/*--------------------------------------------------------------------------------------------------------*/


@media (min-width: 423px) and (max-width:699.5px)
{
    #Contact-us-header-txt
    {
        width: 100%;
        height: fit-content;
        padding: 10% 0;
        color: black;
        
    }

    #Contact-us-content
    {
        height: 100%;
        width: 100%;
        margin: 2% 5.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: auto;
    }

    #txt-1 , #txt-2
    {
        width: 100%;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1.5%;
    }

    .Contact-us-form-and-price-rate
    {
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3% 0;
    }

    #price-rate-area
    {
        width: 100%;
        height: 100%;
        background-color: #d4d4d4;
        border-radius: 3vw;
        margin-right: 2%;
        padding: 1.25vw;
        display: flex;
        justify-content: space-between;
    }

    .price-rate-block
    {
        width: 32%;
        height: 100%;
        border-radius: 2vw;
        padding: 3% 4%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .price-rate-block-pic
    {
        width: 75%;
        aspect-ratio: 1 / 1;
        margin-bottom: 10%;
    }

    #price-rate-block-content-2
    {
        width: 100%;
        float: right;
    }    

    .price-rate-block-content
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .packageName
    {
        font-family: 'Kanit' , sans-serif;
        width: 100%;
        text-align: center;
        font-size: 1.75vw;
        color: rgba(0, 0, 0, 0.626);
        font-weight: bold;
    }

    .packagePrice
    {
        font-family: 'Kanit' , sans-serif;
        width: 100%;
        text-align: center;
        font-size: 4.5vw;
        font-weight: bold;
        height: fit-content;
        margin: 0 0 1% 0;
        color: rgb(10, 129, 169);
    }

    .packagePricePerDay
    {
        font-family: 'Kanit' , sans-serif;
        width: 100%;
        text-align: center;
        font-size: 1.3vw;
        color: rgba(0, 0, 0, 0.814);
    }

    #Contact-us-form-area
    {
        font-family: 'Kanit' , sans-serif;
        width: 99%;
        aspect-ratio: 1 / 0.8;
        display: flex;
        justify-items: center;
        align-items: center;
        background-color: rgb(10, 129, 169);
        padding: 5% 2%;
        border-radius: 3vw;
        margin: 7% 0 0 0;

        form
        {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
        }
    }

    .Contact-us-form-floating
    {
        margin: 2% auto 1.5% auto;
        width:  92.5%;
        padding: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .Contact-us-input-form
    {
        display: flex;
        width: 100%;
        
    }

    .Contact-us-input-form-half
    {
        display: flex;
        width: 49%;
    }

    .Contact-us-form-floating .material-icons
    {
        color: white;
        font-size:1.8vw !important; 
        padding: 2.5% 3.5%;
        min-width: 7%;
        justify-content: auto;
        text-align: center;
        border-top-left-radius: 2.5vw;
        border-bottom-left-radius: 2.5vw;
        background-color: rgb(33, 33, 33);
    }

    .Contact-us-input-form-half .material-icons
    {
        color: white;
        font-size:1.8vw !important; 
        padding: 5% 7.5%;
        min-width: 7%;
        justify-content: auto;
        text-align: center;
        border-top-left-radius: 2.5vw;
        border-bottom-left-radius: 2.5vw;
        background-color: rgb(33, 33, 33);
    }

    #Contact-us-owner-name-icon 
    {
        padding: 2.5% 4.1% 2.5% 4%;
    }

    .Contact-us-form-input-space
    {
        font-size: 1.3vw;
        width: 100%;
        border-top-right-radius: 2.5vw;
        border-bottom-right-radius: 2.5vw;
        background-color: #E7E7E7;
        outline: none;
        border-width: 0.5px 0.5px 0.5px 0px;
        border-color: rgba(0, 0, 0, 0.384);
        padding: 1.5% 1.5% 1.5% 2.5%;

        &:focus
        {
            outline: none;
            background-color: #d5d5d5;
            border-width: 0.3px 0.3px 0.3px 0px;
            border-color: rgb(10, 129, 169);
        }
    }

    .Contact-us-input-form-half .Contact-us-form-input-space
    {
        padding: 1.5% 3% 1.5% 5%;
    }

    .Contact-us-input-form-half
    {
        select 
        {
            font-size: 1.3vw;
            background-color: #E7E7E7;
            color: #8D8786;
            -webkit-appearance: none;
            appearance: none;

            &:focus
            {
                outline: none;
                background-color: #d5d5d5;
                border-width: 0.3px 0.3px 0.3px 0px;
                border-color: rgb(10, 129, 169);
            }

            option 
            {
                font-family: 'Kanit' , sans-serif;
                font-size: 1.3vw;
                color: black;
            }

            
        }
    }

    #Contact-us-disable-option
    {
        display: none;
    }        

    #Contact-us-input-form-name
    {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 79%;
    }

    input[type="date"][value=""]:before 
    {
        content: attr(placeholder) !important;
    } 

      
    #Contact-us-span-zone
    {
        width: 92.5%;
        margin-top: 8%;
        display: flex;
        padding: 0;
        align-self: center;
        align-items: center;
    }

    #Contact-us-notice-txt , #tel-at-contact-us
    {
        width: 50%;
        color: white;
        font-size: 1.2vw;
        padding-left: 1%;
        line-height: 190%;
        text-decoration: none;
    }

    #Contact-us-notice-txt a 
    {
        margin-left: 3%;
    }

    #Contact-us-pressed-button
    {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    #Contact-us-submit
    {
        float: right;
        background-color: rgb(0, 0, 0);
        color: white;
        font-family: 'Kanit' , sans-serif;
        font-size: 1.3vw;
        height: fit-content;
        padding: 3.25% 7%;
        border-radius: 1vw;
        border-width: 0;

        &:hover
        {
            font-weight: bold;
            color: black;
            background-color: rgb(255, 249, 249);
            cursor: pointer;
        }
    }

    #Contact-us-footer
    {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Kanit' , sans-serif;
        font-size: 1vw;
        line-height: 190%;
        padding: 1.5% 0;
        color: #8D8786;
        background-color: white;
        margin-top: 7%;

        span 
        {
            height: fit-content;
            
        }
    }
}

/*--------------------------------------------------------------------------------------------------------*/

@media (max-width: 422.5px)
{
    
    #Contact-us-page
    {
        width: 180vw;
        height: 100vh;
        min-width: 423px;
        padding: 0;
        margin: 0px;
        position: relative;
        background-color: rgb(167, 19, 19);
    }

    #Contact-us-page-content
    {
        height: 100vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    #Contact-us-page-body
    {
        width: 100%;
        min-height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    #Contact-us-header-txt
    {
        width: 100%;
        height: fit-content;
        padding: 15% 0;
        color: black;
    }

    #Contact-us-content
    {
        height: 100%;
        width: 100%;
        margin: 2% 5.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: auto;
    }

    #txt-1 , #txt-2
    {
        width: 100%;
        font-size: 10vw;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1.5%;
    }

    .Contact-us-form-and-price-rate
    {
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3% 0;
    }

    #price-rate-area
    {
        width: 100%;
        height: 100%;
        background-color: #d4d4d4;
        border-radius: 5vw;
        margin-right: 2%;
        padding: 1.25vw;
        display: flex;
        justify-content: space-between;
    }

    .price-rate-block
    {
        width: 33%;
        height: 100%;
        border-radius: 4vw;
        padding: 3% 4%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .price-rate-block-pic
    {
        width: 97%;
        aspect-ratio: 1 / 1;
        margin-bottom: 10%;
    }

    #price-rate-block-content-2
    {
        width: 100%;
        float: right;
    }    

    .price-rate-block-content
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .packageName
    {
        font-family: 'Kanit' , sans-serif;
        width: 100%;
        text-align: center;
        font-size: 4vw;
        color: rgba(0, 0, 0, 0.626);
        font-weight: bold;
    }

    .packagePrice
    {
        font-family: 'Kanit' , sans-serif;
        width: 100%;
        text-align: center;
        font-size: 9vw;
        font-weight: bold;
        height: fit-content;
        margin: 0 0 3% 0;
        color: rgb(10, 129, 169);
    }

    .packagePricePerDay
    {
        font-family: 'Kanit' , sans-serif;
        width: 100%;
        text-align: center;
        font-size: 3.25vw;
        color: rgba(0, 0, 0, 0.814);
    }

    #Contact-us-form-area
    {
        font-family: 'Kanit' , sans-serif;
        width: 99%;
        aspect-ratio: 1 / 0.8;
        display: flex;
        justify-items: center;
        align-items: center;
        background-color: rgb(10, 129, 169);
        padding: 8% 2%;
        border-radius: 5vw;
        margin: 7% 0 0 0;

        form
        {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
        }
    }

    .Contact-us-form-floating
    {
        margin: 0 auto 3.5% auto;
        width:  92.5%;
        padding: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .Contact-us-input-form
    {
        display: flex;
        width: 100%;
        
    }

    .Contact-us-input-form-half
    {
        display: flex;
        width: 100%;
        

        &:first-child
        {
            margin-bottom: 3.5%;
        }
    }

    .Contact-us-form-floating .material-icons
    {
        color: white;
        font-size:1.8vw !important; 
        padding: 2.5% 3.5%;
        min-width: 7%;
        justify-content: auto;
        text-align: center;
        border-top-left-radius: 4vw;
        border-bottom-left-radius: 4vw;
        background-color: rgb(33, 33, 33);
    }

    .Contact-us-input-form-half .material-icons
    {
        color: white;
        font-size:1.8vw !important; 
        padding: 2.5% 3.5%;
        min-width: 7%;
        justify-content: auto;
        text-align: center;
        border-top-left-radius: 4vw;
        border-bottom-left-radius: 4vw;
        background-color: rgb(33, 33, 33);
    }

    #Contact-us-owner-name-icon 
    {
        padding: 2.5% 4% 2.5% 3.5%;
    }

    .Contact-us-form-input-space
    {
        font-size: 2.5vw;
        width: 100%;
        border-top-right-radius: 4vw;
        border-bottom-right-radius: 4vw;
        background-color: #E7E7E7;
        outline: none;
        border-width: 0.5px 0.5px 0.5px 0px;
        border-color: rgba(0, 0, 0, 0.384);
        padding: 1.5% 1.5% 1.5% 2.5%;

        &:focus
        {
            outline: none;
            background-color: #d5d5d5;
            border-width: 0.3px 0.3px 0.3px 0px;
            border-color: rgb(10, 129, 169);
        }
    }

    .Contact-us-input-form-half .Contact-us-form-input-space
    {
        padding: 1.5% 1.5% 1.5% 2.5%
    }

    .Contact-us-input-form-half
    {
        select 
        {
            font-size: 1.75vw;
            background-color: #E7E7E7;
            color: #8D8786;
            -webkit-appearance: none;
            appearance: none;

            &:focus
            {
                outline: none;
                background-color: #d5d5d5;
                border-width: 0.3px 0.3px 0.3px 0px;
                border-color: rgb(10, 129, 169);
            }

            option 
            {
                font-family: 'Kanit' , sans-serif;
                font-size: 1.9vw;
                color: black;
            }

            
        }
    }

    #Contact-us-disable-option
    {
        display: none;
    }        

    #Contact-us-input-form-name
    {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 87.5%;
    }

    input[type="date"][value=""]:before 
    {
        content: attr(placeholder) !important;
    } 

      
    #Contact-us-span-zone
    {
        width: 92.5%;
        margin-top: 8%;
        display: flex;
        padding: 0;
        align-self: center;
        align-items: center;
    }

    #Contact-us-notice-txt , #tel-at-contact-us
    {
        width: 50%;
        color: white;
        font-size: 1.75vw;
        padding-left: 1%;
        line-height: 190%;
        text-decoration: none;
    }

    #Contact-us-notice-txt a 
    {
        margin-left: 3%;
    }

    #Contact-us-pressed-button
    {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    #Contact-us-submit
    {
        float: right;
        background-color: rgb(0, 0, 0);
        color: white;
        font-family: 'Kanit' , sans-serif;
        font-size: 2vw;
        height: fit-content;
        padding: 3.5% 9%;
        border-radius: 1vw;
        border-width: 0;

        &:hover
        {
            font-weight: bold;
            color: black;
            background-color: rgb(255, 249, 249);
            cursor: pointer;
        }
    }

    #Contact-us-footer
    {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Kanit' , sans-serif;
        font-size: 1.85vw;
        line-height: 190%;
        padding: 1.5% 0;
        color: #8D8786;
        margin-top: 7%;
        background-color: white;

        span 
        {
            height: fit-content;
            
        }
    }
}

.Contact-us-input-form-half
{
    select 
    {
        color: black !important;
    }
}
