#order-summary-page
{
    height : 100%;
    width: 100%;
    min-width: 423px;
    position: fixed;
    padding: 0;
    margin: 0px;
    background-color: white;
}

#order-summary-page-header
{
    width: 100%;
}

#order-summary-page-header-bar
{
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
}

#order-summary-page-body
{
    width: 100%;
    min-height: 100%;
}

@media (min-width: 700px) 
{
    #order-summary-page-side-bar-menu
    {
        width: 16%;
        height: 100%;
        position: fixed;
    }

    #order-summary-page-content-header
    {
        width: 100%;
        padding-left: 16%;
        font-family: "Kanit", sans-serif;
        display: flex;

        div 
        {
            width: 25%;
            font-size: 1vw;
            font-weight: bold;
            padding: 1.65% 1.4%;
            margin-left: auto;
            
            border-left: 0.1vw solid rgba(0, 0, 0, 0.21);
            border-bottom: 0.25vw solid rgba(0, 0, 0, 0.21);
        }
    }

    #order-summary-page-content
    {
        width: 100%;
        height: 89vh;
        min-height: 100%;
        padding-left: 16%;
        display: flex;

    }

    #order-summary-page-content-inner
    {
        margin: 0 5.25vw 0 auto;
        width: 85%;
        height: 100%;
        overflow-y: hidden;
        font-family: "Kanit", sans-serif;
        
        #order-summary-header
        {
            width: 100%;
            height: fit-content;
            padding: 3% 0 2% 0;
            font-size: 1.25vw;
            font-weight: bold;
            display: grid;
            grid-template-columns: 70% 30%;

            #order-summary-header-2
            {
                width: 100%;
                font-size: 1vw;
                font-weight: normal;
                display: flex;
                text-wrap: nowrap;
                padding-right: 4%;
                

                &:hover
                { 
                    cursor: pointer;
                    color: rgb(10, 129, 169);
                }

                div 
                {
                    margin-right: 3%;
                    margin-left: auto;
                    width: fit-content;
                }

                span 
                {
                    width: fit-content;
                    margin-left: 5%;
                }
            }
        }

        #order-summary-table
        {
            width: 100%;
            height: 75%;
            overflow: auto;

            #order-summary-table-zone
            {
                width: 100%;
                height: fit-content;
                background-color: rgb(255, 129, 201);

                #a-order-block
                {
                    width: 100%;
                    height: fit-content;
                    display: grid;
                    grid-template-columns: 60% 35%;
                    column-gap: 5%;
                    padding: 2% 0;
                    font-size: 1.1vw;
                    background-color: white;
                    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.25);

                    #a-order-block-menu-name
                    {
                        width: 100%;
                        height: fit-content;
                        text-wrap: nowrap;
                        overflow: hidden;
                        margin: auto 0;
                        text-overflow: ellipsis;
                    }

                    #a-order-block-menu-amount
                {
                    width: 100%;
                    height: 1vw;
                }

                #a-order-block-menu-amount-editor
                {
                    width: 50%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 15% 40% 15%;
                    column-gap: 3%;
                    float: right;

                    input{
                        font-size: 0.9vw;
                        font-family: 'Kanit', sans-serif;
                        text-align:center;
                        border: none;

                        &:focus
                        {
                            outline: none;
                            border: none;
                            border-bottom: 0.01vw solid rgb(82, 82, 82);
                        }
                    }

                    .value-button
                    {
                        background-color: rgb(168, 168, 168);
                        width: fit-content;
                        border-radius: 50%;
                        padding: auto;
                        aspect-ratio: 1 / 1;
                        padding: -0.5%;
                        border: none;
                        color: white;
                        font-size: 0.6vw;
                        font-family: 'Kanit', sans-serif;

                        &:hover
                        {
                            background-color: rgb(50, 50, 50);
                        }
                    }
                }

                #choice-remove-menu-form-order
                {
                    width: 87%;
                    height: fit-content;
                    display: flex;

                    .cancel-remove-button
                    {
                        margin-left: auto;
                        width: 25%;
                        font-size: 0.6vw;
                        font-family: 'Kanit', sans-serif;
                        color: white;
                        background-color: rgb(118,118,118);
                        border: none;
                        padding: 1.5% 3%;
                        border-radius: 0.3vw;
                        margin-right: 8%;

                        &:hover
                        {
                            background-color: rgb(56,56,56);
                        }
                    }

                    .remove-button
                    {
                        margin-left: auto;
                        width: 25%;
                        font-size: 0.6vw;
                        font-family: 'Kanit', sans-serif;
                        color: white;
                        background-color: rgb(208, 18, 18);
                        border: none;
                        padding: 1.5% 3%;
                        border-radius: 0.3vw;

                        &:hover
                        {
                            background-color: rgb(146, 0, 0);
                        }
                    }
                }
                }
            }
        }

        #order-summary-footer
        {
            width: 100%;
            height: 12%;
            display: flex;

            button 
            {
                font-size: 0.9vw;
                width: fit-content;
                height: fit-content;
                padding: 0.75% 2%;
                margin: auto 0 auto auto;
                background-color: rgb(10, 129, 169);
                color: white;
                border: none;
                border-radius: 0.5vw;
                font-family: 'Kanit', sans-serif;
            
                &:hover {
                    background-color: rgb(7, 79, 103);
                }
            }
        }
    }

    

}

