#Owner-reg-page-body
{
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0;
    overflow-y: hidden;
}

#Owner-reg-page
{
    display: flex;
    height: 100vh;
    min-height: fit-content;
    width: 100vw;
    overflow: auto;
    margin: 0;
    background-image: url("../resource/login_wallpaper_blue_black.jpg");
    background-size: cover;
    padding: 0%;
}    

.Owner-reg-form-input-space
{
    font-family: 'Kanit', sans-serif;
}


@media (min-width: 899.5px)
{
    #Owner-reg-page
    {
        padding: 3%;
    }

    #Owner-reg-box
    {
        width: 37%;
        aspect-ratio: auto 1 / 1;
        margin: auto;
        border-radius: 2.75vw;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 55% 55% 55% 55% rgba(0, 0, 0, 80%);
        display: flex;
    }

    #Owner-reg-element
    {
        width: 100%;
        margin: auto;
    }

    .Owner-reg-head
    {
        font: 'inter' , sans-serif;
        font-size: 3.5vw;
        font-weight: bold;
        font-style: normal;
        
    }

    #Owner-reg-txt
    {
        display: flex;
        justify-content: center;
    }

    #Owner-reg-sw-txt
    {
        display: flex;
        justify-content: center;
        color: #847F7F;
        padding: 1% 0;
        margin: 1% 12.5% 5% 12.5%;
    }
    
    #Owner-reg-sw-name
    {
        font-size: 0.775vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        span
        {
            font-family: 'Kanit', sans-serif
        }
    }

    .Owner-reg-form-floating
    {
        margin: 2.5% auto;
        width: 75%;
        padding: 0 auto;
    }

    .Owner-reg-input-form
    {
        display: flex;
        width: 100%;
    }

    .Owner-reg-form-floating .material-icons
    {
        color: white;
        font-size: 1.2vw !important; 
        padding: 3% 4.5%;
        min-width: 7%;
        justify-content: auto;
        text-align: center;
        border-top-left-radius: 1.2vw;
        border-bottom-left-radius: 1.2vw;
        background-color: rgb(10, 129, 169);
    }

    #owner-name-icon
    {
        padding: 3% 6.5% 3% 4.5%;
    }

    .Owner-reg-form-input-space
    {
        font-size: 0.75vw;
        width: 100%;
        border-top-right-radius: 1.2vw;
        border-bottom-right-radius: 1.2vw;
        background-color: #E7E7E7;
        outline: none;
        border-width: 0.5px 0.5px 0.5px 0px;
        border-color: rgba(0, 0, 0, 0.384);
        padding: 1% 3% 1% 5%;

        &:focus
        {
            outline: none;
            background-color: #d5d5d5;
            border-width: 0.3px 0.3px 0.3px 0px;
            border-color: rgb(10, 129, 169);
        }
    }

    #Owner-reg-input-form-name
    {
        width: 85%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #Owner-reg-span-zone
    {
        margin-top: 8%;
        display: flex;
        margin-bottom: 4%;
    }
    
    #Owner-reg-notice-txt
    {
        width: 50%;
        font-family: 'Kanit', sans-serif;
        font-size: 0.6vw;
        line-height: 180%;
        text-align: left;
        margin-left: 12%;
        color: rgb(62, 62, 62);
        align-self: flex-end;
        
        span
        {
            color: crimson;
        }
    }

    #owner-reg-to-contact
    {
        color: rgb(10, 129, 169);
        font-weight: bold;
        margin-left: 2%;
        text-decoration: none;
    }

    #tel-at-owner-reg
    {
        margin-left: 2%;
        color: rgb(10, 129, 169);
        text-decoration: none;
    }

    #Owner-reg-pressed-button
    {
        margin-right: 11%;
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    #Owner-reg-submit
    {
        float: right;
        background-color: rgb(10, 129, 169);
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 0.85vw;
        font-weight: bold;
        height: fit-content;
        padding: 4% 16%;
        border-radius: 0.85vw;
        border-width: 0;
        margin-right: 5%;

        &:hover
        {
            background-color: rgb(12, 103, 133);
            cursor: pointer;
        }
    }
}

@media (min-width: 700px) and (max-width: 899.5px)
{
    #Owner-reg-page
    {
        padding: 3%;
    }

    #Owner-reg-box
    {
        width: 44%;
        aspect-ratio: auto 1 / 1;
        margin: auto;
        border-radius: 3vw;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 55% 55% 55% 55% rgba(0, 0, 0, 80%);
        display: flex;
    }

    #Owner-reg-element
    {
        width: 100%;
        margin: auto;
    }

    .Owner-reg-head
    {
        font: 'inter' , sans-serif;
        font-size: 4.35vw;
        font-weight: bold;
        font-style: normal;
    }

    #Owner-reg-txt
    {
        display: flex;
        justify-content: center;
    }

    #Owner-reg-sw-txt
    {
        margin-top: 1%;
        margin-bottom: 8%;
        display: flex;
        justify-content: center;
    }
    
    #Owner-reg-sw-name
    {
        font: "inter";
        font-size: 0.95vw;
        font-style: normal;
        color: #847F7F;
        font-weight: 500;
        line-height: normal;

        span
        {
            font-family: 'Kanit', sans-serif
        }
    }

    .Owner-reg-form-floating
    {
        margin: 2.75% auto;
        width: 80%;
        padding: 0 auto;
    }

    .Owner-reg-input-form
    {
        display: flex;
        width: 100%;
    }

    .Owner-reg-form-floating .material-icons
    {
        color: white;
        font-size:1.75vw !important; 
        padding: 2.25% 4%;
        min-width: 7%;
        justify-content: auto;
        text-align: center;
        border-top-left-radius: 1.5vw;
        border-bottom-left-radius: 1.5vw;
        background-color: rgb(10, 129, 169);
    }

    #owner-name-icon
    {
        padding: 2.25% 5.75% 2.25% 4.5%;
    }

    .Owner-reg-form-input-space
    {
        font-size: 0.85vw;
        width: 100%;
        border-top-right-radius: 1.5vw;
        border-bottom-right-radius: 1.5vw;
        background-color: #E7E7E7;
        outline: none;
        border-width: 0.5px 0.5px 0.5px 0px;
        border-color: rgba(0, 0, 0, 0.384);
        padding: 1% 3% 1% 5%;

        &:focus
        {
            outline: none;
            background-color: #d5d5d5;
            border-width: 0.3px 0.3px 0.3px 0px;
            border-color: rgb(10, 129, 169);
        }
    }

    #Owner-reg-input-form-name
    {
        width: 80%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #Owner-reg-span-zone
    {
        margin-top: 8%;
        display: flex;
        margin-bottom: 4%;
    }
    
    #Owner-reg-notice-txt
    {
        width: 50%;
        font-family: 'Kanit', sans-serif;
        font-size: 0.7vw;
        text-align: left;
        margin-left: 12%;
        color: black;

        span
        {
            color: crimson;
        }
    }

    #Owner-reg-pressed-button
    {
        margin-right: 11%;
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    #Owner-reg-submit
    {
        float: right;
        background-color: rgb(10, 129, 169);
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 0.85vw;
        font-weight: bold;
        height: fit-content;
        padding: 4% 16%;
        border-radius: 0.85vw;
        border-width: 0;

        &:hover
        {
            background-color: rgb(12, 103, 133);
            cursor: pointer;
        }
    }
}

@media (min-width: 420px) and (max-width:699.5px)
{
    #Owner-reg-page
    {
        padding: 5%;
    }

    #Owner-reg-box
    {
        width: 60%;
        aspect-ratio: auto 1 / 1;
        margin: auto;
        border-radius: 4vw;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 70% 70% 70% 70% rgba(0, 0, 0, 80%);
        display: flex;
    }

    #Owner-reg-element
    {
        width: 100%;
        margin: auto;
    }

    .Owner-reg-head
    {
        font: 'inter' , sans-serif;
        font-size: 6vw;
        font-weight: bold;
        font-style: normal;
    }

    #Owner-reg-txt
    {
        display: flex;
        justify-content: center;
    }

    #Owner-reg-sw-txt
    {
        margin-top: 0%;
        margin-bottom: 8%;
        display: flex;
        justify-content: center;
    }
    
    #Owner-reg-sw-name
    {
        font: "inter";
        font-size: 1.23vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #847F7F;

        span
        {
            font-family: 'Kanit', sans-serif;
        }
    }

    .Owner-reg-form-floating
    {
        margin: 2% auto;
        width: 80%;
        padding: 0 auto;
    }

    .Owner-reg-input-form
    {
        display: flex;
        width: 100%;
    }

    .Owner-reg-form-floating .material-icons
    {
        color: white;
        font-size: 1.65vw !important; 
        padding: 2.5% 4%;
        min-width: 7%;
        text-align: center;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 40%;
        background-color: rgb(10, 129, 169);
    }

    #owner-name-icon
    {
        padding: 2.5% 5.5% 0.5% 4.25%;
    }

    .Owner-reg-form-input-space
    {
        width: 100%;
        border-top-right-radius: 2vw;
        border-bottom-right-radius: 2vw;
        background-color: #E7E7E7;
        outline: none;
        border-width: 0.5px 0.5px 0.5px 0px;
        border-color: rgba(0, 0, 0, 0.384);
        padding: 2.2% 5%;
        font-size: 1.2vw;

        &:focus
        {
            outline: none;
            background-color: #d5d5d5;
            border-width: 0.3px;
            border-color: rgb(10, 129, 169);
            border-width: 0.3px 0.3px 0.3px 0px;
        }
    }

    #Owner-reg-input-form-name
    {
        width: 80%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #Owner-reg-span-zone
    {
        margin-top: 9%;
        display: flex;
        margin-bottom: 3%;
    }
    
    #Owner-reg-notice-txt
    {
        width: 70%;
        font-family: 'Kanit', sans-serif;
        font-size: 1.015vw;
        text-align: left;
        margin-left: 11.25%;
        color: black;

        span
        {
            color: crimson;
        }
    }

    #Owner-reg-pressed-button
    {
        margin-right: 11%;
        display: flex;
        width: 40%;
        justify-content: flex-end;
    }

    #Owner-reg-submit
    {
        float: right;
        background-color: rgb(10, 129, 169);
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 1.25vw;
        font-weight: normal;
        height: fit-content;
        padding: 4% 20.5%;
        border-radius: 1.25vw;
        border-width: 0;

        &:hover
        {
            background-color: rgb(12, 103, 133);
            cursor: pointer;
        }
    }
}

@media (min-width: 319.5px) and (max-width:419.5px)
{
    #Owner-reg-page
    {
        padding: 10% 7%;
        overflow-x: auto;
    }

    #Owner-reg-box
    {
        width: 90%;
        min-width: 200px;
        aspect-ratio: auto 1 / 1;
        margin: auto;
        border-radius: 7%;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 55% 55% 55% 55% rgba(0, 0, 0, 80%);
        display: flex;
    }

    #Owner-reg-element
    {
        width: 90%;
        margin: auto;
    }

    .Owner-reg-head
    {
        font: 'inter' , sans-serif;
        font-size: 195%;
        font-weight: bold;
        font-style: normal;
    }

    #Owner-reg-txt
    {
        display: flex;
        justify-content: center;
    }

    #Owner-reg-sw-txt
    {
        margin-top: 0.75%;
        margin-bottom: 7%;
        display: flex;
        justify-content: center;
    }
    
    #Owner-reg-sw-name
    {
        font: "inter";
        font-size: 40%;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #847F7F;

        span
        {
            font-family: 'Kanit', sans-serif;
        }
    }

    .Owner-reg-form-floating
    {
        margin: 2.5% auto;
        width: 90%;
        padding: 0 auto;
    }

    .Owner-reg-input-form
    {
        display: flex;
        width: 100%;
    }

    .Owner-reg-form-floating .material-icons
    {
        color: white;
        font-size: 50% !important; 
        padding: 3.5% 5%;
        min-width: 7%;
        text-align: center;
        border-top-left-radius: 3vw;
        border-bottom-left-radius: 3vw;
        background-color: rgb(10, 129, 169);
    }

    #owner-name-icon
    {
        padding: 3.5% 5.85% 3.5% 5.5%;
    }

    .Owner-reg-form-input-space
    {
        width: 100%;
        font-size: 45%;
        border-top-right-radius: 3vw;
        border-bottom-right-radius: 3vw;
        background-color: #E7E7E7;
        outline: none;
        border-width: 0.15px 0.15px 0.15px 0px;
        border-color: rgba(0, 0, 0, 0.384);
        padding: 0 5.5%;

        &:focus
        {
            outline: none;
            background-color: #d5d5d5;
            border-color: rgb(10, 129, 169);
            border-width: 0.3px 0.3px 0.3px 0px;
        }
    }

    #Owner-reg-input-form-name
    {
        width: 80%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    #Owner-reg-span-zone
    {
        width: 100%;
        margin-top: 10%;
        display: flex;
        margin-bottom: 2%;
    }
    
    #Owner-reg-notice-txt
    {
        width: 50%;
        font-family: 'Kanit', sans-serif;
        font-size: 33%;
        text-align: left;
        margin-left: 6%;
        color: black;

        span
        {
            color: crimson;
        }
    }

    #Owner-reg-pressed-button
    {
        margin-right: 6%;
        display: flex;
        width: 40%;
        justify-content: flex-end;
    }

    #Owner-reg-submit
    {
        float: right;
        background-color: rgb(10, 129, 169);
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 37.5%;
        font-weight: 500;
        height: fit-content;
        padding: 4.5% 16%;
        border-width: 0;
        border-radius: 1.5vw;

        &:hover
        {
            background-color: rgb(12, 103, 133);
            cursor: pointer;
        }
    }
}

@media (max-width: 319.5px)
{
    #Owner-reg-page
    {
        min-width: 423px;
        padding: 10% 20%;
        overflow-x: auto;
    }

    #Owner-reg-box
    {
        width: 100vw;
        min-width: 275px;
        aspect-ratio: auto 1 / 1;
        margin: auto;
        border-radius: 7%;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 55% 55% 55% 55% rgba(0, 0, 0, 80%);
        display: flex;
    }

    #Owner-reg-element
    {
        width: 100%;
        margin: auto;
    }

    .Owner-reg-head
    {
        font: 'inter' , sans-serif;
        font-size: 225%;
        font-weight: bold;
        font-style: normal;
    }

    #Owner-reg-txt
    {
        display: flex;
        justify-content: center;
    }

    #Owner-reg-sw-txt
    {
        margin-top: 0%;
        margin-bottom: 6%;
        display: flex;
        justify-content: center;
    }
    
    #Owner-reg-sw-name
    {
        font: "inter";
        font-size: 40%;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #847F7F;

        span
        {
            font-family: 'Kanit', sans-serif;
        }
    }

    .Owner-reg-form-floating
    {
        margin: 2.1% auto;
        width: 82.5%;
        padding: 0 auto;
    }

    .Owner-reg-input-form
    {
        display: flex;
        width: 100%;
    }

    .Owner-reg-form-floating .material-icons
    {
        color: white;
        font-size: 50% !important; 
        padding: 3.5% 5%;
        min-width: 7%;
        text-align: center;
        border-top-left-radius: 3.5vw;
        border-bottom-left-radius: 3.5vw;
        background-color: rgb(10, 129, 169);
    }

    #owner-name-icon
    {
        padding: 3.5% 6% 3.5% 5.25%;
    }

    .Owner-reg-form-input-space
    {
        width: 100%;
        font-size: 37.5%;
        border-top-right-radius: 3.5vw;
        border-bottom-right-radius: 3vw;
        background-color: #E7E7E7;
        outline: none;
        border-width: 0.35px 0.35px 0.35px 0px;
        border-color: rgba(0, 0, 0, 0.384);
        padding: 0 5.5%;

        &:focus
        {
            outline: none;
            background-color: #d5d5d5;
            border-color: rgb(10, 129, 169);
            border-width: 0.3px 0.3px 0.3px 0px;
        }
    }
    

    #Owner-reg-input-form-name
    {
        width: 75%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    #Owner-reg-span-zone
    {
        width: 100%;
        margin-top: 6%;
        display: flex;
        margin-bottom: 2%;
    }
    
    #Owner-reg-notice-txt
    {
        width: 50%;
        font-family: 'Kanit', sans-serif;
        font-size: 33%;
        text-align: left;
        margin-left: 10%;
        color: black;
        align-self: flex-end;

        span
        {
            color: crimson;
        }
    }

    #Owner-reg-pressed-button
    {
        margin-right: 9%;
        display: flex;
        width: 40%;
        justify-content: flex-end;
    }

    #Owner-reg-submit
    {
        float: right;
        background-color: rgb(10, 129, 169);
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 40%;
        font-weight: 500;
        height: fit-content;
        padding: 4.5% 15%;
        border-radius: 2vw;
        border-width: 0;

        &:hover
        {
            background-color: rgb(12, 103, 133);
            cursor: pointer;
        }
    }
}