#Owner-main-page
{
    height : 100%;
    width: 100%;
    min-width: 423px;
    position: relative;
    padding: 0;
    margin: 0px;
    background-color: white;
}

#Owner-main-page-header
{
    width: 100%;
}

#Owner-main-page-header-bar
{
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
}

#Owner-main-page-body
{
    width: 100%;
    min-height: 100%;
}


@media (min-width: 700px) 
{
    #Owner-main-page-side-bar-menu
    {
        width: 16%;
        height: 100%;
        position: fixed;
    }
}