#Staff-management-page
{
    height : 100%;
    width: 100vw;
    min-width: 423px;
    position: relative;
    padding: 0;
    margin: 0px;
    background-color: white;
    overflow-x: hidden;
}

#Staff-management-page-header
{
    width: 100%;
}

#Staff-management-page-header-bar
{
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
}

#Staff-management-page-side-bar-menu
{
    display: none;
}

#Staff-management-page-body
{
    display: flex;
}


@media (min-width: 700px) 
{
    #Staff-management-page-side-bar-menu
    {
        display: inline-block;
        width: 16%;
        height: 100%;
        position: fixed;
    }

    #Staff-management-page-content
    {
        display: flex;
        width: 100%;
        min-height: 100%;
        padding-left: 19%;
        background-color: rgb(255, 255, 255);
        padding-right: 5.25vw;

        #Staff-management-page-content-header
        {
            width: 100%;
            height: 100%;
            padding: 2% 0;

            h1
            {
                font-family: 'Kanit', sans-serif;
                font-size: 1.75vw;
                font-weight: bold;
            }
        }
    }
}