#rest-card-container
{
    background-color: rgb(255, 255, 255);
    border: 0.01vw solid rgba(173, 173, 173, 0.419);
    border-radius: 1vw;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 1.2vw 0.001vw rgba(0, 0, 0, 0.125);
}

@media (min-width: 700px) 
{
    #rest-card-link
    {
        text-decoration: none;
    }
    
    #rest-card-container
    {
        width: 100%;
        height: 100%;
    }

    #rest-card-pic
    {
        width: 100%;
        aspect-ratio: 1 / 1;
        background: url("http://100.111.182.51:9000/cepp/9155af23b4b5ad4c4258c07edeac19fb.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: end;
        align-items:first baseline;

    }

    #rest-card-content
    {
        background-color: white;
        padding: 9% 8%;
    }

    #rest-card-name
    {
        font-family: 'Kanit', sans-serif;
        font-size: 1.5vw;
        color: black;
        margin-bottom: 3%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

    #rest-card-description
    {
        font-family: 'Kanit', sans-serif;
        font-size: 0.8vw;
        color: rgba(0, 0, 0, 0.41);
        height: 50%;
        margin-bottom: 3%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

    #rest-card-container
    {
        &:hover
        {
            border: 0.01vw solid rgba(5, 70, 92,0.6);
            box-shadow: 0 0 1.2vw 0.001vw rgba(0, 0, 0, 0.225);
        }
    }
}

@media (min-width: 420px) and (max-width: 699.5px) 
{
    #rest-card-link
    {
        text-decoration: none;
    }
    
    #rest-card-container
    {
        width: 100%;
        height: 100%;
    }

    #rest-card-pic
    {
        width: 100%;
        aspect-ratio: 1 / 1;
        background: url("http://100.111.182.51:9000/cepp/9155af23b4b5ad4c4258c07edeac19fb.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: end;
        align-items:first baseline;

    }

    #rest-card-content
    {
        background-color: white;
        padding: 9% 8%;
    }

    #rest-card-name
    {
        font-family: 'Kanit', sans-serif;
        font-size: 2vw;
        color: black;
        margin-bottom: 3%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

    #rest-card-description
    {
        font-family: 'Kanit', sans-serif;
        font-size: 1vw;
        color: rgba(0, 0, 0, 0.41);
        height: 50%;
        margin-bottom: 3%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

    #rest-card-container
    {
        &:hover
        {
            border: 0.01vw solid rgba(5, 70, 92,0.6);
            box-shadow: 0 0 1.2vw 0.001vw rgba(0, 0, 0, 0.225);
        }
    }
}

@media (max-width: 419.5px) 
{
    #rest-card-link
    {
        text-decoration: none;
    }
    
    #rest-card-container
    {
        width: 100%;
        height: 100%;
    }

    #rest-card-pic
    {
        width: 100%;
        aspect-ratio: 1 / 1;
        background: url("http://100.111.182.51:9000/cepp/9155af23b4b5ad4c4258c07edeac19fb.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: end;
        align-items:first baseline;

    }

    #rest-card-content
    {
        background-color: white;
        padding: 9% 8%;
    }

    #rest-card-name
    {
        font-family: 'Kanit', sans-serif;
        color: black;
        margin-bottom: 3%;
        font-size: 4vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media (max-width: 340px) 
        {
            font-size: 4.5vw;
        }

        @media (max-width: 195.5px) 
        {
            font-size: 5vw;
        }

        @media (max-width: 195.5px) 
        {
            font-size: 5.5vw;
        }

        @media (max-width: 135.5px) 
        {
            font-size: 8.5vw;
        }
    }

    #rest-card-description
    {
        font-family: 'Kanit', sans-serif;
        font-size: 2vw;
        color: rgba(0, 0, 0, 0.41);
        height: 50%;
        margin-bottom: 3%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media (max-width: 340px) 
        {
            font-size: 2.5vw;
        }

        @media (max-width: 195.5px) 
        {
            font-size: 3vw;
        }

        @media (max-width: 195.5px) 
        {
            font-size: 3.5vw;
        }

        @media (max-width: 135.5px) 
        {
            font-size: 5vw;
        }
    }

    #rest-card-container
    {
        &:hover
        {
            border: 0.01vw solid rgba(5, 70, 92,0.6);
            box-shadow: 0 0 1.2vw 0.001vw rgba(0, 0, 0, 0.225);
        }
    }
}

#rest-card-description
{
    overflow-y: hidden;
}

#rest-card-container
{
    &:hover
    {
        cursor: pointer;
    }
}    