#user-name
{
    font-family: 'Kanit', sans-serif;
    font-size: 13px !important;
    font-weight: 600;
    color: rgb(83, 83, 83);
    justify-content: end;
    align-items: center;
}

@media (min-width: 1300px)
{
    #user-name
    {
        width: 22vw;
    }

    #user-name .material-icons
    {
        font-size: 1.2vw !important;
        margin: 1%  0 auto 0.9vw;
    }

    #user-name-txt
    {
        font-weight: bold !important;
        font-size: 1vw !important;
        font-weight: 590;
        margin: auto 0;
    }
}

@media (min-width: 700px) and (max-width:1299.5px)
{
    #user-name
    {
        width: 22vw;
    }

    #user-name .material-icons
    {
        font-size: 1.4vw !important;
        margin: 0.5%  0 auto 0.9vw;
    }

    #user-name-txt
    {
        font-weight: bold !important;
        font-size: 1.2vw !important;
        font-weight: 590;
        margin: auto 0;
    }
}

@media (min-width: 420px) and (max-width:699.5px)
{
    #user-name .material-icons
    {
        font-size: 2vw !important;
        margin: auto  0 auto 2.5vw;
    }

    #user-name-txt
    {
        font-family: 'Kanit', sans-serif;
        font-size: 2vw !important;
        font-weight: 590;
        margin: auto  0 auto 0.9vw;
    }
}

@media (max-width:419.5px)
{
    #user-name .material-icons
    {
        font-size: 3vw !important;

        @media (max-width: 340px) 
        {
            font-size: 3vw !important;
        }

        @media (max-width: 195.5px) 
        {
            font-size: 4vw !important;
        }

        @media (max-width: 195.5px) 
        {
            font-size: 4.5vw !important;
        }

        @media (max-width: 135.5px) 
        {
            font-size: 4.65vw !important;
        }

        margin: auto  0 auto 2.5vw;
    }

    #user-name-txt
    {
        font-family: 'Kanit', sans-serif;
        
        @media (max-width: 340px) 
        {
            font-size: 3vw !important;
        }

        @media (max-width: 195.5px) 
        {
            font-size: 4vw !important;
        }

        @media (max-width: 195.5px) 
        {
            font-size: 4.5vw !important;
        }

        @media (max-width: 135.5px) 
        {
            font-size: 4.65vw !important;
        }
        
        font-weight: 590;
        margin: auto  0 auto 0.9vw;
    }
}

#name-and-icon
{
    width: fit-content;
    display: flex;
    float: right;

    &:hover
    {
        color: rgb(10, 129, 169);
        cursor: pointer;
    }
}    