#user-name
{
    font-family: 'Kanit', sans-serif;
    font-size: 13px !important;
    font-weight: 600;
    color: rgb(83, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 700px)
{
    #user-name .material-icons
    {
        margin-left: 15px;
    }

    #staff-name
    {
        font-family: 'Kanit', sans-serif;
        font-size: 13px !important;
        font-weight: 590;
    }
}

@media (min-width: 420px) and (max-width:699.5px)
{
    #user-name .material-icons
    {
        margin-left: 8px;
    }

    #staff-name
    {
        font-family: 'Kanit', sans-serif;
        font-size: 13px !important;
        font-weight: 590;
    }
}
